.tdmdownloads-box {
    border-radius: 5px;
}

.tdmdownloads-categories {
    border-bottom: 1px #333 solid;
    padding: 2px;
    margin: 2px;
}

.tdmdownloads-catinfo {
}

.tdmdownloads-data {
    border: 0;
    padding: 1px;
    margin: 1px;
}

.tdmdownloads-title {
}

.tdmdownloads-title .title {
    margin: 1px;
}

.tdmdownloads-title .total {
    font-size: 0.9em;
    font-weight: normal;
    margin: .5em 3em .2em 3em;
}

.tdmdownloads-body {
    font-size: 1em;
}

.tdmdownloads-body img {
    border: 0;
    padding: 1px;
    margin: 1px;
    max-height: 120px;
    max-width: 120px;
}

.tdmdownloads-subtitle {
}

.tdmdownloads-rss {
    margin: 1px;
    padding: 1px;
    text-align: right;
}

.tdmdownloads-linetitle {
    font-size: 1.4em;
    line-height: 1.4em;
    border-bottom: 1px #333 solid;
    padding: 1px 10px;
    margin: 1px;
}

.tdmdownloads-summary {
    margin: 5px 5px 5px 20px;
    padding: 5px;
}

.tdmdownloads-summary img {
    padding: 0 3px;
    margin: 0 3px;
}

.tdmdownloads-thereare {
    font-size: 0.8em;
    text-align: right;
    font-style: italic;
    padding: 0 20px 0 20px;
}

.tdmdownloads-navigation {
    margin: 15px 0 10px 0;
    text-align: center;
}

.tdmdownloads-navigation-items {
    margin: 1px;
    padding: 1px;
}

.tdmdownloads-navigation-items span {
    padding: 2px;
}

.tdmdownloads-pagenav {
}

.tdmdownloads-itemText {
    padding: 1px;
    margin: 1px;
    text-align: justify;
    width: 69%;
}

.tdmdownloads-downInfo {
    padding: 1px;
    margin: 1px;
    width: 29%;
}

.tdmdownloads-box {
    border: 1px solid #333;
    text-align: left;
    font-size: .9em;
    padding: .5em;
    margin: .5em auto;
    line-height: 1.2em;
    min-width: 220px;
    max-width: 280px;
}

.tdmdownloads-box #date {
    background: url(../images/icons/16/date.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #author {
    background: url(../images/icons/16/author.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #hits {
    background: url(../images/icons/16/hits.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #rating {
    background: url(../images/icons/16/votes.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #comments {
    background: url(../images/icons/16/comments.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #torate {
    background: url(../images/icons/16/torate.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #tomodify {
    background: url(../images/icons/16/tomodify.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #toreport {
    background: url(../images/icons/16/toreport.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #totell {
    background: url(../images/icons/16/totell.png) no-repeat left;
    padding: 5px 20px;
}

.tdmdownloads-box #download {
    background: url(../images/icons/16/download-now.png) no-repeat left;
    padding: 5px 25px;
    line-height: 1.6em;
    font-size: 1.1em;
}

.tdmdownloads-box #noperm {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
}

.tdmdownloads-box .champ {
    padding: 5px 20px;
}

.tdmdownloads-downInfo #paypal {
    text-align: center;
    min-width: 220px;
    margin-top: .5em;
}

.tdmdownloads-tag {
    margin: 1px;
    padding: 1px;
}

.tdmdownloads-socialnetwork {
    width: 100%;
    height: 25px;
    margin-bottom: 40px;
}

.tdmdownloads-socialnetwork ul li {
    list-style: none;
    float: left;
}

.tdmdownloads-bookmarkme {
    width: 100%;
    height: 50px;
}

.tdmdownloads-bookmarkmetitle {
    text-align: center;
}

.tdmdownloads-bookmarkmeitems {
    text-align: center;
    margin: 5px;
}

.endline {
    clear: both;
    width: 100%;
}

/*for column downloads*/
.col_width1 {
    width: 100%;
}

.col_width2 {
    width: 50%;
}

.col_width3 {
    width: 33%;
}

.col_width4 {
    width: 25%;
}

.col_width5 {
    width: 20%;
}

/* error message, if class is not included in theme */
.tdmdownloads-errorMsg {
    background: #FBE3E4;
    color: #D12F19;
    text-align: center;
    border: 2px solid #FBC2C4;
    padding: 8px;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 140%;
}
